p h1 h2 h3 h4 h5 {
    font-family: Helvetica, sans-serif;
}

nav{
    height: 50px;
    background-color: aquamarine;
}

.menu {
  padding: 15px; display: inline-block;  background-color: aquamarine; height: 15px;
}